# Application
NODE_ENV=development
PORT=3001

# Database
POSTGRES_USER=room_user
POSTGRES_PASSWORD=room_pass
POSTGRES_DB=room_access
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
